* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    gap: 3.4rem;
}

.navbar {
    background-color: #1c51ff;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
}

img {
    width: 55%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #1c51ff;
    color: white;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    img {
        width: 100%;
    }
}